<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Xplat Code Coverage" >
        <Configuration>
        <Format>cobertura</Format>
        
          <CodeCoverage>
            <!-- Match assembly file paths: -->
            <ModulePaths>
              <Include>
                <ModulePath>.*\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Tests.dll</ModulePath>
								<ModulePath>.*Test.dll</ModulePath>
								<ModulePath>.*coverlet.*.dll</ModulePath>
								<ModulePath>moq*.dll</ModulePath>
              </Exclude>
            </ModulePaths>
            <Functions>
              <Exclude>
								<Function>.*\.Resources\..*</Function>
              </Exclude>
            </Functions>
 
            <!-- We recommend you do not change the following values: -->
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
 
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>